.countdown {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.countdown h3, .countdown span {
    display: inline-block;
}

.countdown h3 {
    padding-left: 15px;
    padding-bottom: 10px;
}

.countdown span {
    position: relative;
    top: 5px;
    margin-left: 15px;
    padding-right: 15px;
    width: 50px;
}

